#set-list.win-listview {
    border: 1px solid #fff;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    width: 100%;
    height: 100%;
}

#set-list .win-item {
    padding: 10px;
    background-color: #4671d5;
    text-align: center;
}

#set-list .win-item div {
    word-break: break-all;
}

.homepage section[role=main] {
    display: -ms-grid;
    margin-left: 120px;
    margin-right: 120px;
    -ms-grid-columns: auto;
    -ms-grid-rows: 1fr 130px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}
