<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="33690VenelinPetrov.Flashcards" Version="1.0.0.2" Publisher="CN=86077964-B0F8-4E46-AA61-262F24A02BBD" />
  <Properties>
    <DisplayName>Flashcards: Научи Английски</DisplayName>
    <PublisherDisplayName>Venelin Petrov</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Научи́ Aнглийски" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Flashcards: Научи́ Aнглийски" ForegroundText="light" BackgroundColor="#376092">
        <DefaultTile ShowName="allLogos" ShortName="Научи́ Aнглийски" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#FFFFFF" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="flashcard-set-files">
            <SupportedFileTypes>
              <FileType>.flset</FileType>
              <FileType>.png</FileType>
              <FileType>.jpg</FileType>
              <FileType>.gif</FileType>
              <FileType>.jpeg</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>